# system
.DS_Store
.vscode
*.log

# Local Netlify folder
.netlify

# javascript
node_modules
.parcel-cache
dist
.env

.vscode
*.log

# rust
target

# Local Netlify folder
.netlify

# test assets
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Playwright
/playwright/.auth/

# Loro contents
loro.db
