name: Test Application

on: [pull_request]

jobs:
  test:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        node-version: ['10.x', '12.10.x']
        platform: [ubuntu-latest, macos-latest, windows-latest]
        runner: [npm, yarn]
        include:
          - platform: ubuntu-latest
            browser: chrome
            return-node-version: ls $RUNNER_TOOL_CACHE/node
          - platform: windows-latest
            browser: chrome
            return-node-version: dir C:\hostedtoolcache\windows\node /b
          - platform: macos-latest
            browser: electron
            return-node-version: ls $RUNNER_TOOL_CACHE/node

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 3
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: install packages and show matrix input
      env:
        CI: true
      run: |
        echo === matrix variables ===
        echo ${{ matrix.platform }}
        echo ${{ matrix.node-version }}
        echo ${{ matrix.runner }}
        echo === exact node version ===
        ${{ matrix.return-node-version }}
        ${{ matrix.runner }} install
    - name: run tests
      env:
        CI: true
      run: ${{ matrix.runner }} run test
    - name: run build
      env:
        CI: true
      run: ${{ matrix.runner }} run build
    - name: install build host for cypress
      env:
        CI: true
      run: npm install -g pushstate-server
    - name: run cypress (record)
      env:
        CI: true
        CYPRESS_BASE_URL: http://localhost:8080
        COMMIT_INFO_BRANCH: ${{ github.head_ref }}
        COMMIT_INFO_REMOTE: https://github.com/${{ github.repository }}.git
        DEBUG: commit-info,cypress:server:record
      if: matrix.runner == 'yarn' && matrix.platform == 'ubuntu-latest' && matrix.node-version == '10.x'
      run: npx start-server-and-test "pushstate-server -d ./build -p 8080" 8080 "${{ matrix.runner }} run cy:run -- --ci-build-id ${{ github.ref }}/${{ github.sha }} --key ${{ secrets.CYPRESS_RECORD_KEY }} --record --parallel --browser electron"
    - name: run cypress
      env:
        CI: true
        CYPRESS_BASE_URL: http://localhost:8080
      if: matrix.runner != 'yarn' || matrix.platform != 'ubuntu-latest' || matrix.node-version != '10.x'
      run: npx start-server-and-test "pushstate-server -d ./build -p 8080" 8080 "${{ matrix.runner }} run cy:run -- --browser ${{ matrix.browser }}"
